.Film{
    width: 100%;
    display: flex;
    position: relative;
}
.Film >img{
    width: 500px;
    height: 350px;
    background-size: contain;
}
.Film>div{
    width: 35%;
    margin-left: 30px;
}
.pPar{
    display: block;
    font-weight: 600;
    text-decoration: underline;
}

.divVideo{
    position: absolute;
    top: 650px;
    left: 400px;
}